.App {
  text-align: center;
}

body, html, .overall{
  height: 100%;
}
.parallax-header {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gradpic{
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.projectsPart{
  display: block;
  height: 80vh;
}